<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            @Card.Title
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">created on @Card.CreationDate</h6>

        @if (Actions is not null)
        {
            @Actions
        }
    </div>
</div>

@code {
    [Parameter]
    public CardViewModel Card { get; set; }

    [Parameter]
    public RenderFragment Actions { get; set; }
}
