@page "/"

@inject ICardsService Service
@inject IJSRuntime Js
@attribute [Authorize]

<PageTitle>My Board</PageTitle>

<h1>My Board</h1>

<div class="row">
    <SearchCard />
</div>
<hr />

<div class="row">
    <CreateNewCard OnSave="CreateNewCardAsync" />
</div>
<hr />
<div class="row">
    <div class="col col-cards">
        <h5>To do</h5>
        <hr />
        @foreach (var card in model.ToDo)
        {
            <CardItem Card="card">
                <Actions>
                    <div class="btn btn-group">
                        <button type="button" @onclick="@(() => StartWorkingAsync(card))" class="btn btn-primary btn-sm">start</button>
                        <DeleteButton Card="card"
                                      OnConfirmed="DeleteCardAsync"/>
                    </div>
                </Actions>
            </CardItem>
        }
    </div>
    <div class="col col-cards">
        <h5>In progress</h5>
        <hr />
        @foreach (var card in model.InProgress)
        {
            <CardItem Card="card">
                <Actions>
                    <div class="btn btn-group">
                        <button type="button" @onclick="@(() => MoveBackAsync(card))" class="btn btn-primary btn-sm">back</button>
                        <button type="button" @onclick="@(() => CompleteCardAsync(card))" class="btn btn-success btn-sm ">done</button>
                        <DeleteButton Card="card"
                                      OnConfirmed="DeleteCardAsync"/>
                    </div>
                </Actions>
            </CardItem>
        }
    </div>
    <div class="col col-cards">
        <h5>Done</h5>
        <hr />
        @foreach (var card in model.Done)
        {
            <CardItem Card="card" />
        }
    </div>
</div>

@code {
    private ViewModel model = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadCardsAsync();
    }

    private async Task LoadCardsAsync()
    {
        var cards = await Service.GetCardsAsync();
        if (cards.Any())
        {
            model.ToDo = cards.Where(c => c.Status == CardStatus.ToDo).Select(c => Map(c));
            model.InProgress = cards.Where(c => c.Status == CardStatus.InProgress).Select(c => Map(c));
            model.Done = cards.Where(c => c.Status == CardStatus.Done).Select(c => Map(c));
        }
    }

    private CardViewModel Map(CardListItemModel card)
        => new CardViewModel { Id = card.Id, Title = card.Title, CreationDate = card.CreationDate };

    private async Task CreateNewCardAsync(CreateCardModel model)
    {
        try
        {
            await Service.CreateNewCardAsync(model);
            await LoadCardsAsync();
        }
        catch
        {
            await Js.InvokeVoidAsync("alert", "Error creating new card");
        }
    }

    private async Task StartWorkingAsync(CardViewModel card)
    {
        try
        {
            await Service.ChangeCardStatusAsync(card, CardStatus.InProgress);
            await LoadCardsAsync();
        }
        catch
        {
            await Js.InvokeVoidAsync("alert", "Error moving card in progress");
        }
    }

    private async Task MoveBackAsync(CardViewModel card)
    {
        try
        {
            await Service.ChangeCardStatusAsync(card, CardStatus.ToDo);
            await LoadCardsAsync();
        }
        catch
        {
            await Js.InvokeVoidAsync("alert", "Error moving back card to ToDo");
        }
    }

    private async Task CompleteCardAsync(CardViewModel card)
    {
        try
        {
            await Service.ChangeCardStatusAsync(card, CardStatus.Done);
            await LoadCardsAsync();
        }
        catch
        {
            await Js.InvokeVoidAsync("alert", "Error completing card");
        }
    }

    private async Task DeleteCardAsync(CardViewModel card)
    {
        try
        {
            await Service.DeleteCardAsync(card);
            await LoadCardsAsync();
        }
        catch
        {
            await Js.InvokeVoidAsync("alert", "Error deleting card");
        }
    }

    public class ViewModel
    {
        public IEnumerable<CardViewModel> ToDo { get; set; } = Enumerable.Empty<CardViewModel>();

        public IEnumerable<CardViewModel> InProgress { get; set; } = Enumerable.Empty<CardViewModel>();

        public IEnumerable<CardViewModel> Done { get; set; } = Enumerable.Empty<CardViewModel>();
    }
}
